From (How Do You Play It)[https://howdoyouplayit.com/monopoly-rules-play-monopoly/]:
* The rules of Monopoly are not difficult, but they are specific. Monopoly can be played by 2+ players, depending on the number of player tokens available.

* Monopoly requires a special board, 32 houses, 12 hotels, Chance and Community Chest cards, Title Deed cards for each property, play money, player tokens, and two six-sided dice.

In [1]:
import pandas as pd

board = pd.read_csv('data/board.csv')
board.head()

                   Name    Color  Cost
0                    Go  collect     0
1  Mediterranean Avenue    Brown    60
2       Community Chest       CC     0
3         Baltic Avenue    Brown    60
4            Income Tax      Tax  -200